* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
}

.logo {
    background: #000;
    width: 100%;
    display: flex;
    justify-content: center;
}

.graficlogo {
    padding: 5px;
    max-width: 100%;
    box-sizing: border-box;
}

nav {
    margin: auto;
    width: 800px;
    height: 50px;
}

.topnav {
    background-color: #fff;
    font-size: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.topnav a {
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    padding: 14px 16px;
    text-align: center;
}

.topnav a:hover {
    border-bottom: 2px solid #000;
}

.topnav .icon {
    display: none;
}

.mw-100 {
    min-width: 100%;
}

.advantages__container {
    display: flex;
    justify-content: center;
}


.advantages {
    width: 70%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 40px;
}

.advantages__item {
    width: 30%;
    margin-bottom: 20px;
}

.advantages__item h2 {
    margin-bottom: 10px;
}

.advantages__item img {
    min-width: 175px;
    height: 155px;
}

footer {
    width: 100%;
    text-align: center;
    height: auto;
    background: #000;
    padding-top: 25px;
}

footer a {
    color: #fff;
    font-size: 14px;
    margin-left: 10px;
}

footer a:first-child {
    margin-left: 0;
}

footer nav a:hover {
    border-bottom: 1px solid #fff;
}

.social {
    padding: 20px 0;
}

.social img {
    margin-left: 10px;
}

.social img:hover {
    background: #494949;
    border-radius: 50%;
}

.social img:first-child {
    margin-left: 0;
}